* {
    font-family: Poppins, sans-serif;
    background-color: lavender;
}

.container {
    text-align: center;
    margin-top: 100px;
}

.inputContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 30px;
    gap: 10px;

}

input {
    padding: 10px;
    background-color: whitesmoke;
    border-radius: 10px;
    width: 30%;
    height: 30px;
}

.prompt {
    margin-top: 20px;
    font-weight: bold;
}

.hidden {
    display: none;
}

.completed {
    color: #0AA222;
}

.uncompleted {
    color: #A20A0E;
}
